<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push">
    <div class="branding">
      <span data-testid="title">{{ 'anms.title.short' | translate}}</span>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]"
        routerLinkActive="active">
        {{item.label | translate}}
      </a>
      <a mat-list-item [routerLink]="'/'" routerLinkActive="active">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
          <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
          <polyline points="9 22 9 12 15 12 15 22"></polyline>
        </svg>
        Nuevo
      </a>

      <button mat-button mat-stroked-button color="accent" class="ml-2" *ngIf="!isAuthenticated" (click)="onLoginClick()">
        {{ 'anms.menu.login' | translate }}
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <div class="wrapper">
    <div class="toolbar" [style.position]="'fixed'" [class.mat-elevation-z1]="isHeaderSticky">
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.open()">
          <fa-icon icon="bars"></fa-icon>
        </button>
        <span routerLink="" class="branding spacer d-none d-sm-inline d-md-none">
          {{'anms.title.short' | translate }}
        </span>

        <button *ngIf="isAuthenticated" mat-icon-button [matMenuTriggerFor]="toolbarUserMenu">
          <fa-icon icon="user-circle"></fa-icon>
        </button>
        <mat-menu #toolbarUserMenu="matMenu">
          <button mat-menu-item (click)="onLogoutClick()">
            <mat-icon>
              <fa-icon icon="power-off"></fa-icon>
            </mat-icon>
            <span>{{ 'anms.menu.logout' | translate }}</span>
          </button>
        </mat-menu>
      </mat-toolbar>
    </div>
    <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <div class="footer">
      <div class="row">
        <div class="col-sm-12 links">

        </div>
      </div>
    </div>
  </div>
</mat-sidenav-container>