$anms-primary: mat-palette($mat-blue-grey, 800, 300, 900);
$anms-accent: mat-palette($mat-red, 800, 300, 900);
$anms-warn: mat-palette($mat-yellow, 600);

$anms-theme: mat-light-theme($anms-primary, $anms-accent, $anms-warn);
